<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CuisineCapture</title>

        <link rel="stylesheet" href="https://unpkg.com/7.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/CuisineCapture.css') }}">
    </head>
    <body>
        <div class="window active" >
            <div class="title-bar">
              <div class="title-bar-text">Recipe to Plate</div>
              <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close"></button>
              </div>
            </div>
            <div class="window-body has-space">
                <div class="card-container">
                    {% for title, ingredient, procedure in zip(titles, ingredients, procedures) %}
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-content">
                                <h2 class="title">{{ title }}</h2>
                                <p class="details"></p>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="ingredients-btn" onclick="showDetails(this, '{{ ingredient | safe }}')">Ingredients</button>
                            <button class="procedure-btn" onclick="showDetails(this, '{{ procedure | safe }}')">Procedure</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
              <!-- <p>There's so much room for activities!</p> -->
            </div>
            <center>
                <br>
                <a href="/CuisineCapture/refresh">
                    <button>Regenerate</button>
                </a>
                <br><br>
            </center>
          </div>
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
        <script src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
    </body>
</html>